<div class="container">
    <div class="row">
<div class="col-sm-3">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt qui dolor et similique ipsum, corporis voluptatum expedita pariatur modi velit ducimus ullam enim distinctio quis nulla nam magni saepe fugit? Labore temporibus in rem.</p>
    </div>
    <div class="col-sm-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ab laboriosam impedit est. Quasi nisi veniam illum velit quisquam dolorem modi distinctio atque labore aliquam nemo quod earum, nobis sed! Esse harum corporis nisi.</p>
        </div>
        <div class="col-sm-3">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt qui dolor et similique ipsum, corporis voluptatum expedita pariatur modi velit ducimus ullam enim distinctio quis nulla nam magni saepe fugit? Labore temporibus in rem.</p>
    </div>
    <div class="col-sm-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ab laboriosam impedit est. Quasi nisi veniam illum velit quisquam dolorem modi distinctio atque labore aliquam nemo quod earum, nobis sed! Esse harum corporis nisi.</p>
        </div>

</div>
</div>