
<div class="form">
   
<div class="row">
    <h1>Login Here</h1>
    <div class="col-sm-6">
        <h2>enter your name</h2>
         </div>
    
        <div class="col-sm-6">
            <input type="text"placeholder="enter your name">
            
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h2>enter  address</h2>
                 </div>
            
                <div class="col-sm-6">
                    <input type="text" placeholder="enter your address">
                    
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
<h2>enter your email</h2>
</div>
        <div class="col-sm-6">
            <input type="email"placeholder="enter email">
            
            </div>
        
      </div>
      <div class="row">
            <div class="col-sm-6">
                <h2>enter  password</h2>
                 </div>
            
                <div class="col-sm-6"   >
                    <input type="password" placeholder="enter your password">
                    
                    </div>
                </div>

                <div class="row">
    <div class="col-sm-3">
        <button id="sub" (click)="subm()">submit</button>
        </div>
        <div class="col-sm-3">
            <button id="can">cancel</button>
            </div>
</div>






